<div class="container">
  <!-- Cart items display -->
  <h3 class="title">Customer Cart</h3>
  <br>
  <h5 *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </h5>
  <h5 *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </h5>

  <div class="cart-items">
    <h2>Cart Items</h2>
    <h3>Total Price {{ totalPrice }}</h3>
    <div *ngFor="let cart of cartitem; let i = index" class="cart-item">
      <p>Product ID: {{ cart.productId }}</p>
      <div class="row">
        <div class="col-auto">
          <img [src]="'/assets/resources/' + cart.imageurl" class="img-responsive center-block" alt="Not Found"
            onError="this.src='/assets/resources/404.png'">
        </div>

        <div class="col card-block offset-1">
          <br />
          <h3>{{ cart.name }}</h3>
          <strong>PRICE:</strong> {{ cart.price }}
          <br />
          <strong>Rating:</strong> {{ cart.rating }}
          <br />
          <strong>Final Price:</strong> {{ cart.finalPrice }}
        </div>

        <div style="width: 15%;">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number" (click)="removeQuantity(i,cart.productId)" value="-">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <input type="number" name="quant[{{i}}]" class="form-control input-number" [(ngModel)]="cart.quant" min="1"
              max="100">
            <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" (click)="addQuantity(i, cart.productId)" value="+">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>

        <div class="col card-block">
          <br />
          <br />
          <button class="btn" (click)="addToOrder(cart.productId, cart.quant)" style="background-color: orange;">Order
            Now</button>
          <br />
          <br />
          <button class="btn " (click)="removeItem(cart.productId)" (click)="reloadpage()" style="background-color: red;">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
